# ----------------------------------------------------------
# Compiler configuration
# ----------------------------------------------------------
CC = cc
CXX = c++
#CFLAGS = -Wall -O3
CFLAGS = -Wall -O0 -g
#CLIBS = -lm -ldl
AR = ar rcu
RANLIB = ranlib


# ----------------------------------------------------------
# GLUT includes and library,
# ----------------------------------------------------------
#
# OSX 10.8
# GLUT_I = -I/usr/X11R6/include
# GLUT_L = -framework GLUT -framework OpenGL

# OSX 10.9
GLUT_I = -I/opt/X11/include -Wno-deprecated-declarations
GLUT_L = -framework GLUT -framework OpenGL

# On Redhat 64:
# GLUT_I =
# GLUT_L = -L/usr/lib64 -lGLU -lglut
