# ----------------------------------------------------------
# Compiler configuration
# ----------------------------------------------------------
CC = cc
CXX = cxx
CFLAGS = -Wall -O2 -g
CLIBS = -lm
AR = ar rcu
RANLIB = ranlib


# ----------------------------------------------------------
# Lua executable, library, and include (default is local)
# ----------------------------------------------------------
LUA_EXE = $(PWD)/src/lua/lua
LUA_LIB = $(PWD)/src/lua/liblua.a
LUA_INC = $(PWD)/src/lua


# one of: aix ansi bsd freebsd generic linux macosx mingw posix solaris
PLAT = generic


# ----------------------------------------------------------
# Dependencies (set to 1 if available) and other flags
# ----------------------------------------------------------
HAVE_MPI = 0
HAVE_HDF5 = 0
HAVE_GLUT = 0
DEBUG_FILE = NULL


HDF5_HOME = /usr/local


# ----------------------------------------------------------
# GLUT includes and library
# ----------------------------------------------------------
#
# OSX 10.8
# GLUT_I = -I/usr/X11R6/include
# GLUT_L = -framework GLUT -framework OpenGL

# OSX 10.9
# GLUT_I = -I/opt/X11/include -Wno-deprecated-declarations
# GLUT_L = -framework GLUT -framework OpenGL

# On Redhat 64:
# GLUT_I =
# GLUT_L = -L/usr/lib64 -lGLU -lglut
